@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  padding: 32px 24px;
  background: url('./bg.svg') repeat-x center bottom, var(--jungle-green);

  @include responsive('phone-xs', 'phone') {
    background: var(--jungle-green);
    padding: 24px;
  }
}

.title {
  @include text('h4', 'm');
  color: var(--white);
  text-align: center;
  margin: 0 auto 24px;

  @include responsive('phone-xs', 'phone') {
    @include text('body-2', 'm');
  margin: 0 auto 16px;
  }
}

.button {
  background-color: var(--rhino) !important;
  color: var(--white);
}
