@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  padding: 24px;
  max-width: 915px;
  margin: 0 auto;
  @include responsive('tablet') {
    max-width: 775px;
  }

  @include responsive('phone-xs', 'phone') {
    margin: 0 auto;
  }

  @include responsive('desktop', 'laptop', 'tablet') {
    animation-name: shiftUp;
    animation-timing-function: cubic-bezier(0, 0.96, 1, 1);
    animation-duration: 0.8s;
    animation-delay: 2s;
    animation-fill-mode: both;
  }
}

.subtitle {
  margin-bottom: 64px;


  @include responsive('phone-xs', 'phone') {
    margin-bottom: 40px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.item {
  display: flex;
  margin-bottom: 80px;
  &:nth-child(2n + 1) {
    margin-right: 115px;
  }

  @include responsive('phone-xs', 'phone') {
    margin: 0 0 32px 0 !important;
  }

  @include responsive('tablet') {
    &:nth-child(2n + 1) {
      margin-right: 50px;
    }
    margin-bottom: 32px !important;
  }
}

.icon {
  @include responsive('phone-xs', 'phone') {
    width: 64px;
  }

  @include responsive('tablet') {
    width: 52px;
  }
}

.text {
  margin-left: 32px;

  @include responsive('desktop', 'laptop') {
    max-width: 263px;
  }

  @include responsive('tablet') {
    max-width: 263px;
  }

  @include responsive('phone-xs', 'tablet') {
    margin-left: 16px;
  }
}

.title {
  @include text('body-1');
  color: var(--rhino);
}

.link {
  display: flex;
  align-items: center;
  padding: 12px 0;
  fill: var(--jungle-green);
  color: var(--jungle-green);

  &:hover {
    & .arrow {
      transform: translateX(4px);
    }
  }

  @include text('body-2');

  @include responsive('phone-xs', 'phone', 'tablet') {
    margin-top: 6px;
  }
}

.arrow {
  margin-left: 6px;
  transition: transform 0.2s ease-out;
}



@keyframes shiftUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
