@import "~@santiment-network/ui/mixins";

.wrapper {
  margin-left: auto;

  @include responsive("phone-xs", "phone") {
    display: none;
  }
}

.button {
  min-width: 110px;

  &__loggedIn {
    ---border: var(--green) !important;
    --color: var(--green) !important;
    --color-hover: var(--green-hover) !important;

    min-width: 131px;
  }
}
