@import '~@santiment-network/ui/mixins';

.account {
  margin-left: auto;

  @include responsive('phone-xs', 'phone') {
  	display: none;
  }
}

.create {
  margin-left: 16px;
}

.login {
  min-width: 84px;
  justify-content: center;
}
