@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  padding: 0 24px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include responsive('phone-xs', 'phone') {
  margin-bottom: 40px;
  }
}

.title {
  margin-bottom: 32px;

  @include responsive('phone-xs') {
    @include text('h4', 'm');
    margin-bottom: 24px;
  }
}

.desc {
  max-width: 556px;
  color: var(--waterloo);
  @include text('body-1');
  margin: 41px 0 16px;
  text-align: center;

  @include responsive('phone-xs', 'phone') {
  @include text('body-2');
  }

  @include responsive('phone-xs') {
  text-align: left;
  }
}

.img {
  max-width: 1140px;
  margin-top: 42px;

  @include responsive('phone-xs', 'phone', 'tablet', 'laptop') {
    width: 100%;
  }

  @include responsive('tablet', 'phone', 'phone-xs', 'laptop') {
    padding: 0 24px;
  }

  @include responsive('phone-xs') {
    padding: 0 16px;
  }
}

.tabs {
  margin-top: 10px;

  & div {
    padding: 0 24px 14px;

    @include text('h4', 'l');

    @include responsive('phone-xs', 'phone', 'tablet') {
      padding: 0 32px 12px;

      @include text('body-1');
    }
  }
}
