@import '~@santiment-network/ui/mixins';

.tooltip {
  z-index: 20;
}

.wrapper {
  display: flex;
  align-items: center;
}

.container {
  background: var(--white);
  border: 1px solid var(--porcelain);
  border-radius: $border-radius;
  padding: 14px 22px;
  box-shadow: 0 4px 12px 0 rgba(24, 27, 43, 0.04);
  max-width: 1140px;

  @include border-box();
}

.item {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  white-space: nowrap;

  &:hover {
    color: var(--jungle-green-hover);
    fill: var(--jungle-green-hover);
  }
}

.linkArrow {
  margin: 0 0 2px 8px;
}

.title {
  color: var(--waterloo);

  @include text('body-3');
}
.wrapper {
  width: 358px;
  max-height: 124px;
  padding: 21px 9px 9px 9px;
  transition: background 0.2s;

  @include responsive('phone-xs', 'phone') {
    width: initial;
    max-width: 363px;
  }

}

.arrow {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--waterloo);
  margin-left: 4px;
  fill: var(--waterloo);
}

.opened {
  background: var(--jungle-green-light);
  border-radius: 2px;
  fill: var(--jungle-green);
}

.trigger {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__opened {
    color: var(--jungle-green);
  }
}

.arrowIcon {
  width: 8px;
  height: 5px;
}
