@import '~@santiment-network/ui/mixins';

.container {
  margin: 64px auto 120px auto;
  margin-bottom: 120px;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive('phone', 'phone-xs') {
    margin: 24px auto 60px auto;
  }
}

.header {
  margin-bottom: 80px;

  @include responsive('laptop', 'tablet') {
    margin-bottom: 60px;
  }

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 40px;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;


  @include responsive('phone-xs', 'phone') {
    flex-wrap: wrap;
  }

  &:first-child {
    & img {
      margin-right: 104px;


      @include responsive('phone') {
        margin: 30px;
      }


      @include responsive('phone-xs') {
        margin: 20px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &:last-child {
    margin-top: 56px;


    @include responsive('phone-xs', 'phone') {
      margin-top: 0;
    }

    & img {
      margin-right: 80px;

      @include responsive('tablet') {
        margin-right: 50px;
      }

      @include responsive('phone') {
        margin: 30px;
      }


      @include responsive('phone-xs') {
        margin: 20px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


.list {
  display: flex;
  flex-direction:column;

  img {
    align-self: center;
    justify-self: center;
  }

  @include responsive('desktop') {

  }

  @include responsive('phone-xs', 'phone') {
    img {
      max-width: 140px;
    }
  }


  @include responsive('laptop', 'tablet') {
    img {
      max-width: 170px;
    }
  }
}
