---
import AsSeenOn from '../AsSeenOn'
import CtaButton from '../CtaButton.svelte'
---

<section
  class="relative h-full w-full bg-white-night bg-[url('/illus-desktop.svg')] xl:bg-[url('/illus-laptop.svg')] bg-top bg-no-repeat md:bg-none md:pb-[26px] night-mode"
>
  <div class="pt-[120px] md:pt-[46px]">
    <div class="container">
      <div class="mb-[338px] xl:mb-[195px] max-w-[644px] animate-shiftUp md:mb-20 md:max-w-[568px]">
        <h1 class="mb-4 text-5xl font-medium text-black xl:mb-3 xl:text-3xl xl:font-normal">
          Gain Actionable Insights with Behavior Analytics in Crypto
        </h1>

        <p class="mb-10 text-xl text-fiord xl:mb-6 xl:text-base">
          Make smarter decisions with powerful tools and trusted data sources
        </p>

        <CtaButton client:load="svelte" class="h-10 w-full max-w-[196px] text-base sm:max-w-full" />
      </div>
    </div>
    <div class="relative">
      <img src="/illus-mobile.svg" class="hidden md:block" alt="" />

      <div class="container pb-[480px] md:absolute md:top-[18%] md:w-full">
        <AsSeenOn class="mb-[228px] xl:mb-[151px] md:mb-[50%]" />

        <div class="ml-auto mr-0 max-w-[500px]">
          <h2 class="mb-4 text-5xl font-medium text-black xl:mb-3 xl:text-3xl xl:font-normal">
            Access Comprehensive Set of Data Sources
          </h2>

          <p class="mb-10 text-xl text-fiord xl:mb-6 xl:text-base">
            Use social, blockchain, financial, dev, and community metrics to improve your strategy
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
