---
import Button from 'san-webkit-next/ui/core/Button'

import AsSeenOn from '../AsSeenOn'
import CtaButton from '../CtaButton.svelte'

import desktopIllus from './assets/illus-desktop.svg'
import laptopIllus from './assets/illus-laptop.svg'
import mobileIllus from './assets/illus-mobile.svg'

const desktopBg = `url(${desktopIllus.src})`
const laptopBg = `url(${laptopIllus.src})`
---

<section class="hero-bg relative h-full w-full bg-white-night md:pb-[26px] night-mode">
  <div class="pt-[120px] md:pt-[46px]">
    <div class="container">
      <div class="mb-[338px] xl:mb-[195px] max-w-[644px] animate-shiftUp md:mb-20 md:max-w-[568px]">
        <Button
          class="text-lg mb-4 sm:text-base sm:mb-3"
          variant="link"
          icon="right-arrow"
          iconSize={10}
          iconOnRight
          href="https://api.santiment.net/"
        >
          Start using the Santiment API
        </Button>

        <h1 class="mb-4 text-5xl font-medium text-black xl:mb-3 xl:text-3xl xl:font-normal">
          Gain Actionable Insights with Behavior Analytics in Crypto
        </h1>

        <p class="mb-10 text-xl text-fiord xl:mb-6 xl:text-base">
          Make smarter decisions with powerful tools and trusted data sources
        </p>

        <CtaButton client:load class="h-10 w-full max-w-[196px] text-base sm:max-w-full" />
      </div>
    </div>
    <div class="relative">
      <img src={mobileIllus.src} class="hidden md:block" alt="" />

      <div class="container pb-[480px] md:absolute md:top-[18%] md:w-full">
        <AsSeenOn class="mb-[228px] xl:mb-[151px] md:mb-[50%]" />

        <div class="ml-auto mr-0 max-w-[500px] md:mx-auto md:px-4 sm:max-w-[356px]">
          <h2 class="mb-4 text-5xl font-medium text-black xl:mb-3 xl:text-3xl xl:font-normal">
            Access a Comprehensive Set of Data Sources
          </h2>

          <p class="mb-10 text-xl text-fiord xl:mb-6 xl:text-base">
            Use social, blockchain, financial, dev, and community metrics to improve your strategy
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style define:vars={{ desktopBg, laptopBg }}>
  .hero-bg {
    background-image: var(--desktopBg);
    @apply bg-top bg-no-repeat;
  }

  @screen lg {
    .hero-bg {
      background-image: var(--laptopBg);
    }
  }

  @screen md {
    .hero-bg {
      @apply bg-none;
    }
  }
</style>
