@import "~@santiment-network/ui/mixins.scss";

.wrapper {
  width: calc(100% - 28px);
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;

  .col {
    animation-name: shiftDown;
    animation-timing-function: cubic-bezier(0, 0.96, 1, 1);
    animation-duration: 2s;
    animation-fill-mode: both;
  }
}

.iconWrapper {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes shiftDown {
  0% {
    transform: translateY(-526px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
