.title {
  gap: 8px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #D2D6E7;

  :global(.phone-xs) &,
  :global(.phone) & {
    width: 3px;
    height: 3px;
  }
}

.marquee {
  will-change: transform;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.logo {
  height: 32px;

  :global(.phone-xs) &,
  :global(.phone) & {
    height: 16px;
  }
}