@import "~@santiment-network/ui/mixins.scss";

.backgroundContainer {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url('./images/lp.svg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  overflow: hidden;

  @include responsive("laptop", "tablet") {
    background-image: url('./images/lp2.svg');
    background-position-x: center;
  }
}

.wrapper {
  max-width: 1140px;
  padding: 0;
  padding-top: 120px;
  margin: 0 auto;
  width: 100%;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    padding-top: 46px;
  }

  @include responsive("desktop", "laptop", "tablet") {
    animation-name: shiftUp;
    animation-timing-function: cubic-bezier(0, 0.96, 1, 1);
    animation-duration: 0.8s;
    animation-delay: 0.6s;
    animation-fill-mode: both;
  }
}

.leftBlock {
  max-width: 644px;
  margin: 0 0 357px;

  @include responsive('laptop') {
    margin: 0 0 195px;
  }
}

.rightBlock {
  max-width: 500px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 478px;
}

.leftBlock,
.logosWrapper {
  @include responsive("laptop") {
    padding: 0 24px;
  }

  @include responsive("phone", "phone-xs", "tablet") {
    padding: 0 16px;
  }
}

.title {
  @include text("h1");
  font-weight: 500;
  margin-bottom: 16px;

  @include responsive('laptop', 'tablet', 'phone', 'phone-xs') {
    --margin: 12px;
    @include text('h3')
  }
}

.description {
  color: #a2a7bd;
  margin-bottom: 40px;

  @include responsive('laptop', 'tablet', 'phone', 'phone-xs') {
    @include text("body-2");
    margin-bottom: 24px;
  }
}

.btn {
  height: 40px;
  max-width: 196px;
  border-radius: 6px;

  :global(.phone-xs) &,
  :global(.phone) & {
    height: 40px;
    max-width: 100%;
  }
}

.btnWrapper {
  margin-left: 0;
  display: block !important;
}

.img {
  height: 100%;

  :global(.phone-xs) &,
  :global(.phone) & {
    height: 372px;
  }
}

@keyframes shiftUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.logosWrapper {
  width: 100%;
  margin-bottom: 229px;

  @include responsive('laptop') {
    margin-bottom: 151px;
  }
}
