@import "~@santiment-network/ui/mixins";

.wrapper {
  max-width: 100%;
  margin: 0;
  padding: 160px 0;

  @include responsive("laptop") {
    padding: 64px 0;
  }

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    padding: 64px 0;
  }
}

.content {
  max-width: 1140px;
  width: 100%;
  gap: 160px;

  @include responsive("laptop") {
    padding: 0 24px;
    gap: 80px;
  }

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    padding: 0 16px;
    gap: 80px;
  }
}

.infoBlock {
  gap: 48px;
  align-items: flex-end;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    gap: 30px;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.infoText {
  max-width: 641px;
}

.infoTitle {
  color: #ffffff;

  @include text("h1", "l");

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    --margin: 16px;

    font-weight: 500;

    @include text("h3");
  }
}

.infoTitleAdd {
  color: #ffad4d;
}

.infoDescription {
  color: #dfe1ec;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    @include text("body-2");
  }
}

.infoImg {
  width: 310px;
  height: 296px;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    width: 185px;
    height: 176px;
  }
}

.leftPuzzle {
  position: absolute;
  top: 50px;
  left: 10px;
  animation: left-moving 1s ease-in-out infinite alternate;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    top: 30px;
    left: 0;
    width: 60px;
    height: 60px;
  }
}

.rightPuzzle {
  position: absolute;
  bottom: 115px;
  right: 163px;
  animation: right-moving 1s ease-in-out infinite alternate;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    bottom: 67px;
    right: 102px;
    width: 60px;
    height: 60px;
  }
}
.alien {
  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    width: 185px;
    height: 176px;
  }
}

.ctaBlock {
  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    gap: 24px;
  }
}

.ctaBlockText {
  max-width: 306px;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    max-width: 100%;
  }
}

.ctaTitle {
  color: #ffad4d;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    --margin: 4px;

    @include text("body-3", "m");
  }
}

.ctaDescription {
  color: #ffffff;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    --margin: 16px;

    @include text("h4", "l");
  }
}

.ctaDescriptionAdd {
  color: #dfe1ec;

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    --margin: 10px;

    @include text("body-2");
  }
}

.ctaImg {
  width: 778px;

  @include responsive("laptop") {
    width: 578px;
  }

  :global(.tablet) & {
    width: 80%;
  }
  :global(.phone-xs) &,
  :global(.phone) & {
    width: 100%;
  }
}

.arrowBtn {
  max-width: 306px;
  height: 32px;
  --color: #14c393;
  --color-hover: #1fac85;

  &:hover {
    text-decoration: underline;
  }

  :global(.tablet) &,
  :global(.phone-xs) &,
  :global(.phone) & {
    @include text("body-3", "m");
  }
}

@keyframes left-moving {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-10px, -10px);
  }
}
@keyframes right-moving {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(10px, 10px);
  }
}
