@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  @include responsive('tablet', 'phone', 'phone-xs', 'laptop') {
    padding: 0 24px;
  }

  @include responsive('phone-xs') {
    padding: 0 16px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include responsive('tablet', 'phone', 'phone-xs') {
    flex-direction: column;
  }
}

.title {
  max-width: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @include text('h3', 'l');
  color: var(--rhino);

  @include responsive('phone', 'phone-xs') {
    @include text('h4', 'l');
  }
}

.desc {
  @include text('body-1');
  margin-top: 16px;
  max-width: 565px;
  color: var(--waterloo);


  @include responsive('phone', 'phone-xs') {
    margin-top: 24px;
  }
}

.link {
  height: 40px;
  margin-bottom: 14px;
  width: 100%;
  justify-content: center;

  &__dark {
    background: var(--rhino);
    color: var(--white);

    &:hover{
    background: var(--mirage);
    color: var(--white);

    }
  }
}

.more {
  user-select: none;
  cursor: pointer;
  color: var(--jungle-green);
  fill: var(--jungle-green);
  display: block;
  text-align: center;
  margin-top: 22px;

  @include text('body-3');

  &_bottom {
    margin-top: 45px;
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    display: none;
  }

  svg {
    margin-bottom: -2px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
  }
}

.dialog {
  width: 440px;
  position: relative;
}

.action {
  margin-left: 16px;

  &_cancel:hover {
    color: var(--jungle-green);
  }
}

.featureLink {
  color: var(--jungle-green);
}

.billing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
  margin-top: 32px;


  &__toggle path {
    display: none;
  }

  &__option {
    @include text('body-2');

    color: var(--waterloo);
    margin: 0 24px;
    cursor: pointer;

    &_active {
      color: var(--rhino);
    }

    &_year {
      position: relative;
    }
  }

  &__save {
    position: absolute;

    @include text('body-3', 'm');

    color: var(--jungle-green);
    top: calc(100% + 13px);
    left: calc(100% + 12px);
    white-space: nowrap;

    @include responsive('phone-xs') {
      top: 100%;
      left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      background: url('./arrow.svg') no-repeat;
      width: 27px;
      height: 18px;
      left: -27px;
      top: -7px;

      @include responsive('phone-xs') {
        display: none;
      }
    }
  }
}

.bill {
  margin-right: 30px;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }
}
