@import '~@santiment-network/ui/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 30px 15px;
  background: linear-gradient(
      180deg,
      var(--white) 2.22%,
      rgba(255, 255, 255, 0.29) 49%,
      var(--white) 97.78%
    ),
    url(./waves.svg) no-repeat right top;
  border: 1px solid var(--porcelain);
  border-radius: 8px;
  width: 744px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    width: 100%;
  }

  transition: transform 200ms;

  &:hover {
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0 14px 20px rgba(24, 27, 43, 0.06);
    transform: scale(1.01);
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    margin-bottom: 20px;
    border-radius: 4px;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}

.title {
  @include text('h4', 'm');
  color: var(--rhino);
  margin-bottom: 8px;
}

.desc {
  @include text('body-3');
  color: var(--waterloo);
  margin-bottom: 12px;
}
