---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav/Nav.svelte'
import Footer from 'san-webkit-next/ui/app/Footer'
---

<Layout title="404: Not found" class="flex flex-col">
  <main class="container min-h-[calc(100vh-70px-369px)]">
    <section class="text-center pt-20 md:pt-2.5">
      <h1 class="text-3xl text-rhino font-bold mb-4 md:text-xl">Not found</h1>
      <p class="mb-16 text-waterloo text-lg">
        You just hit a route that doesn't exist... the sadness.
      </p>
    </section>
  </main>
  <Footer class="[&>div]:max-w-[1140px]" client:load />
</Layout>
