@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 0 24px;
  margin-bottom: 40px;
}

.desc {
  max-width: 1000px;
  @include text('body-1');
  color: var(--waterloo);
  margin: 0 auto 60px;
  display: flex;
  justify-content: space-between;

  & strong {
    color: var(--jungle-green);
    @include text('body-1');

    @include responsive('tablet', 'phone', 'phone-xs') {
      @include text('body-2');
    }
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    @include text('body-2');
  }

  @include responsive('phone', 'phone-xs') {
    flex-direction: column;
  }

  & div {
    max-width: 459px;

    &:first-child {
      margin-right: 30px;
    }

    @include responsive('tablet') {
      max-width: 400px;
    }

    @include responsive('phone', 'phone-xs') {
      margin: 0 auto 16px !important;
    }
  }
}

.title {
  margin-bottom: 48px;

  @include responsive('phone', 'phone-xs') {
    margin-bottom: 26px;
  }
}

.heading {
  @include text('h4', 'm');
  color: var(--rhino);
  margin: 88px auto 0;
  text-align: center;

  @include responsive('phone', 'phone-xs') {
    margin: 48px auto 0;
  }
}

.text {
  max-width: 556px;
  @include text('body-1');
  color: var(--waterloo);
  margin: 24px auto 96px;
  text-align: center;

  @include responsive('phone', 'phone-xs') {
    max-width: 459px;
    @include text('body-2');
    text-align: left;
  }

  @include responsive('tablet') {
    @include text('body-2');
    max-width: 400px;
  }
}

.team {
  max-width: 750px;
  margin: 0 auto;
  border-radius: 16px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 7px;
    left: 0;
    display: block;
    right: 0;
    border-radius: 16px;
    border: 4px solid rgba(255, 255, 255, 0.3);
  }

  & img {
    width: 100%;
    border-radius: 16px;
  }
}

.info {
  @include text('body-2');
  text-align: center;
  font-style: italic;
  color: var(--casper);
  margin: 16px 0 30px;
}

.products {
  padding: 0;
}
