@import "~@santiment-network/ui/main.scss";
@import "~@santiment-network/ui/mixins.scss";

.main {
  margin-top: 72px;

  @include responsive("phone", "phone-xs", "tablet") {
    min-height: auto;
    margin-top: 56px;
  }
}
