---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav/Nav.svelte'
import GetStarted from '../components/GetStarted'
import Footer from 'san-webkit-next/ui/app/Footer'
---

<Layout
  title="Santiment Jobs"
  description="We’re a 100% distributed team working together from around the world, and we welcome top talent to help us change the future of trading crypto-markets. We’re constantly focused on keeping our work in a collaborative, creative and open environment. If these are your values too, come join us!"
>
  <main class="container">
    <div class="max-w-[722px] mx-auto text-center mb-14 mt-20 sm:mt-2.5">
      <h1 class="text-3xl text-rhino font-semibold mb-4 sm:text-xl">Join us at Santiment</h1>
      <p class="text-lg text-waterloo">
        We’re a 100% distributed team working together from around the world, and we welcome top
        talent to help us change the future of trading crypto-markets. We’re constantly focused on
        keeping our work in a collaborative, creative and open environment. If these are your values
        too, come join us!
      </p>
      <p class="text-lg text-waterloo">
        List of our <a
          class="link-pointer"
          href="https://santiment.notion.site/Work-with-Santiment-f1880de7557b468a80b1465013f311cd"
          >open positions</a
        >
      </p>
    </div>
  </main>
  <GetStarted />
  <Footer class="mt-auto [&>div]:max-w-[1140px]" client:visible />
</Layout>
