---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav/Nav.svelte'
import GetStarted from '../components/GetStarted'
import People from '../components/People'
import Footer from 'san-webkit-next/ui/app/Footer'
---

<Layout
  title="Santiment Team"
  description="In true crypto fashion, our team is as decentralised as they come - spanning 19 countries and 11 time zones (which makes organizing team calls a blast:)"
>
  <Nav client:load />
  <main class="container">
    <div class="max-w-[722px] mx-auto text-center mb-14 mt-20 md:mt-2.5">
      <h1 class="text-3xl text-rhino font-semibold mb-4 md:text-xl">Santiment team</h1>
      <p class="text-lg text-waterloo md:text-base">
        In true crypto fashion, our team is as decentralised as they come - spanning 19 countries
        and 11 time zones (which makes organizing team calls a blast:)
      </p>
      <p class="text-lg text-waterloo md:text-base">
        Meet the people dedicated to bringing context to the crypto ecosystem:
      </p>
    </div>
    <People class="mb-12" />
  </main>
  <GetStarted />
  <Footer class="[&>div]:max-w-[1140px]" client:visible />
</Layout>
