@import '~@santiment-network/ui/mixins';

.wrapper {
  padding: 0 24px;
  margin-bottom: 30px;
}

.title {
  margin-bottom: 16px;
}

.desc {
  max-width: 722px;
  @include text('body-1');
  color: var(--waterloo);
  margin: 0 auto 60px;
  text-align: center;

   @include responsive('phone-xs') {
    @include text('body-2');
  margin: 0 auto 40px;
    }
}

.icon {
	fill: var(--waterloo);
	margin-right: 14px;
	cursor: poiner;

	&:hover {
		fill: var(--rhino);
	}
}

.img {
	width: 124px;
	height: 124px;
	object-fit: contain;

	& img {
		max-width: 100%;
	}
}
