---
import { cn } from 'san-webkit-next/ui/utils'

type TProps = {
  class: string
  title: string
  description: string
  points: string[]
}

const { title, class: className, description, points } = Astro.props as TProps
---

<li class={cn('rounded-2xl p-8 border border-porcelain relative [counter-reset:li]', className)}>
  <h4 class="text-xl text-rhino mb-10 ml-[66px]">{title}</h4>
  <p class="text-lg mb-10 text-waterloo">{description}</p>
  <ul>{points.map((point) => <li class="text-lg text-rhino pl-11 relative mb-7">{point}</li>)}</ul>
</li>

<style>
  .item:before {
    content: counter(li);
    display: flex;
    border-radius: 50%;
    width: 48px;
    position: absolute;
    background-color: var(--orange-light-1);
    color: var(--color);
    height: 48px;
    align-items: center;
    justify-content: center;
  }
</style>
