@import '~@santiment-network/ui/mixins';

.list {
  @include grid-wrap(2);
  grid-gap: 50px;
  max-width: 950px;
  margin: 0 auto;
  counter-reset: li;
}

.item {
  border-radius: 16px;
  border: 1px solid var(--porcelain);
  padding: 32px;
  position: relative;
  counter-increment: li;

  &:first-of-type {
    --color: var(--jungle-green);
    --background: var(--jungle-green-light);
  }

  &:last-of-type {
    --color: var(--texas-rose);
    --background: var(--texas-rose-light);
  }

  &:before {
    content: counter(li);
    display: flex;
    border-radius: 50%;
    width: 48px;
    position: absolute;
    background-color: var(--background);
    color: var(--color);
    height: 48px;
    align-items: center;
    justify-content: center;
    @include text('h4', 'm');
  }
}

.title {
  @include text('h4');
  color: var(--rhino);
  margin: 10px 0 0 66px;
}

.description {
  @include text('body-1');
  color: var(--waterloo);
  margin: 33px 0 40px;

  @include responsive('tablet', 'phone', 'phone-xs') {
    @include text('body-2');
    margin: 23px 0 28px;
  }
}

.point {
  @include text('body-1');
  color: var(--rhino);
  padding-left: 44px;
  margin-bottom: 30px;
  position: relative;

  &:last-child {
    margin-bottom: 12px;
  }

  @include responsive('tablet', 'phone', 'phone-xs') {
    @include text('body-2');
    margin-bottom: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 11px;
    left: 0;
    width: 24px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--color);
  }
}
