.arrow {
  width: 16px;
  height: 16px;
  fill: var(--waterloo);

  &__icon {
    transform: rotate(var(--rotate, 180deg));
    transition: transform 0.25s ease-in-out;
  }
}

.active .arrow {
  background: var(--green-light-1);
  fill: var(--green);
  --rotate: 0;
}

.products {
  --product-icon-size: 32px;
  padding: 0 !important;

  :global {
    .business {
      padding: 0 !important;
      margin: 0 0 16px !important;
      border: 0 !important;
    }

    .chain {
      border-bottom: 1px solid var(--porcelain);
      padding-bottom: 12px;
    }

    .product {
      align-items: center;
      padding: 8px 16px !important;
    }

    h3 {
      margin-bottom: 8px !important;
    }

    p {
      display: none;
    }

    .icon {
      width: 32px !important;
      height: 32px !important;
    }
  }
}
