@import '~@santiment-network/ui/mixins.scss';

.wrapper {
  display: flex;
  justify-content: center;
  margin: 50px 0;

  @include responsive('phone-xs', 'phone', 'tablet') {
    display: none;
  }
}

.container {
  display: none;
  margin: 50px 0 30px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    display: flex;
  }
}

.content {
  max-width: 750px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
}

.desc {
  @include text('body-1');
  color: var(--waterloo);
  margin-bottom: 22px;
  text-align: left;
  max-width: 622px;

  @include responsive('laptop') {
    @include text('body-2');
  }

  @include responsive('phone-xs', 'phone', 'tablet') {
    @include text('body-2');
    text-align: center;
  }
}

.title {
  @include text('h3', 'm');
  color: var(--rhino);
  margin-bottom: 16px;

  @include responsive('laptop') {
    @include text('h4', 'm');
  }

  @include responsive('phone-xs', 'phone', 'tablet') {
    @include text('body-1', 'm');
    margin: 0 auto 30px;
    text-align: center;
    max-width: 65vw;
  }
}

.tabs {
  background-color: var(--athens);
  padding: 16px 0 16px 10px;
  border-radius: 8px;
  margin-right: 72px;

  @include responsive('phone-xs', 'phone', 'tablet') {
    display: none;
  }
}

.item {
  @include text('body-2');
  color: var(--waterloo);
  padding: 12px 22px 12px 48px;
  margin-bottom: 8px;
  transition: background-color 0.05s ease-in-out;
  border-radius: 100px 0px 0px 100px;

  @include responsive('laptop') {
    margin-bottom: 4px;
    @include text('body-3');
  }

  &:hover {
    color: var(--rhino);
    cursor: pointer;
    background-color: var(--white);
  }

  &__active {
    color: var(--rhino);
    background-color: var(--white);
    position: relative;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 50%;
    }

    &:before {
      background-color: var(--jungle-green-light);
      width: 28px;
      height: 28px;
      left: 10px;
      top: 10px;
    }

    &:after {
      background-color: var(--jungle-green);
      width: 8px;
      height: 8px;
      left: 20px;
      top: 20px;
    }
  }
}

@import '~@santiment-network/ui/mixins.scss';

.container {
  position: relative;
}

.slider {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  position: relative;

  @include responsive('phone', 'phone-xs') {
    width: 100%;
  }

  &__top {
    margin-bottom: 40px;
    flex: 1;
  }
}

.content {
  @include responsive('desktop', 'laptop') {
    transition: transform 0.2s ease-out, opacity 0.15s ease-out;
  }

  @include responsive('phone-xs', 'phone', 'tablet') {
    outline: none;
    display: flex !important;
    flex-direction: column;
    height: 100%;
  }
}

.contentHide {
  @include responsive('desktop', 'laptop') {
    transition: transform 0.25s ease-in, opacity 0.2s ease-in;
    transform: translateX(20px);
    opacity: 0;
  }
}

.arrow {
  height: 36px;
  width: 36px;
  border: 1px solid var(--porcelain);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  top: -6px;
  stroke: var(--rhino);
  background-color: var(--white);

  &:hover {
    stroke: var(--jungle-green) !important;
  }

  &_left {
    left: 10%;
  }

  &_right {
    right: 10%;
  }

  @include responsive('phone', 'phone-xs') {
    &_left {
      left: 0;
    }

    &_right {
      right: 0;
    }
  }
}

:global {
  /* Slider */
  .slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }

  .slick-list {
    position: relative;

    display: flex;
    overflow: hidden;

    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }

  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-track:before,
  .slick-track:after {
    display: table;

    content: '';
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  .slick-slide > div {
    height: 100%;
  }
  .slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
  }
  [dir='rtl'] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }
}
