---
import '../app.css'
import 'san-webkit-next/app.css'
import Intercom from '../components/Intercom.svelte'
import Tracking from '../components/Tracking.svelte'
import CookiesPopup from 'san-webkit-next/ui/core/CookiesPopup'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon-144x144.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Crypto Research, Data, Tools - Explore Behavioral Analytics</title>
  </head>
  <body>
    <!-- TODO:Doesn't work -->
    <CookiesPopup client:only="svelte" />
    <Intercom client:load>
      <Tracking client:load>
        <div data-vaul-drawer-wrapper>
          <slot />
        </div>
      </Tracking>
    </Intercom>
  </body>
</html>
