@import "~@santiment-network/ui/mixins";

.leading {
  max-width: 460px;
  align-items: flex-start;

  @include responsive("phone-xs", "phone", "tablet") {
    max-width: unset;
  }
}

.title {
  max-width: 400px;

  @include responsive("phone-xs", "phone", "tablet") {
    @include text('h4', 'l')
  }
}

.description {
  color: #505573;
  margin-bottom: 40px;

  @include responsive("phone-xs", "phone", "tablet") {
    @include text('body-2')
  }
}

.btnWrapper {
  margin: 0;
  display: block !important;

  @include responsive("phone-xs", "phone", "tablet") {
    align-self: stretch;
  }
}

.btn {
  --h-padding: 58px;
  --v-padding: 8px;
}