@import "~@santiment-network/ui/mixins";

.wrapper {
  gap: 50px 100px;
  flex-wrap: wrap;
}

.card {
  gap: 14px;
  position: relative;



  &:nth-child(odd)::after {
    content: "";
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 1px;
    border-radius: 1px;
    background: #ECEEF5;

    @media only screen and (max-width: (600px)) {
      display: none;
    }

    @media only screen and (min-width: (800px)) and (max-width: (1140px)) {
      display: none;
    }
  }
}

.header {
  gap: 16px;
}

.description {
  color: #505573;
  max-width: 224px;
}