@import "~@santiment-network/ui/mixins";

.wrapper {
  flex-wrap: wrap;

  @include responsive("tablet", "phone", "phone-xs") {
    justify-content: center;
  }

  @media only screen and (max-width: (900px)) {
    gap: 32px;
  }
}


.item {
  flex: 1 1 auto;

  @media only screen and (max-width: (900px)) {
    flex: unset;

    &:not(:last-child)::after {
      display: none;
    }
  }

  &:not(:last-child)::after {
    content: "";
    margin: auto;
    width: 1px;
    height: 100%;
    border-radius: 1px;
    background: #ECEEF5;
  }
}

.itemContent {
  gap: 4px;
}

@include responsive("tablet", "phone", "phone-xs") {
  .title {
    @include text('body-3', 'm')
  }

  .number {
    @include text('h4', 'm');
    font-size: 26px;
  }
}