@import "~@santiment-network/ui/mixins";

.wrapper {
  max-width: 100%;
  padding: 160px 24px;
  background-color: var(--black);

  @include responsive("phone-xs", "phone", "tablet") {
    padding: 64px 20px;
  }
}

.content {
  gap: 120px;

  @include responsive("phone-xs", "phone", "tablet") {
    gap: 64px;
  }
}

.main {
  gap: 100px;

  @include responsive("phone-xs", "phone", "tablet") {
    flex-direction: column;
  }
}