@import '~@santiment-network/ui/mixins.scss';

.form {
  max-width: 450px;
  margin: 32px auto 24px;
  border: none;
  border-radius: 4px;
  background: none;
  display: flex;
  flex-direction: column;
  position: relative;

  @include responsive('phone-xs') {
    margin-bottom: 0;
  }
}

.input {
  background: var(--white) !important;
  border: none !important;
  color: var(--rhino);
  outline: none;
  height: 40px;
  padding-right: 138px;
}

.btn {
  height: 32px !important;
  padding: 6px 16px !important;
  margin: 0;
  width: auto;
  position: absolute !important;
  right: 4px;
  top: 4px;
  line-height: 20px !important;
  font-size: 14px !important;
}


.arrow {
  margin-left: 6px;
}

.formError {
  margin-right: auto;
  position: absolute;
  bottom: -18px;

  @include text('caption');

  font-size: 10px;

  @include responsive('phone', 'phone-xs', 'tablet') {
    @include text('caption');
    bottom: -20px;
  }
}

.checkBlock {
  margin-top: 17px;
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;

  @include text('caption')
}

.checkbox {
  margin-right: 8px;

  div {
    background-color: var(--white) !important;
  }

  svg {
    fill: var(--mystic) !important;
  }
}

.subscriptionLabel {
  position: relative;
  top: 1px;
}
